* text=auto

*.php text eol=lf
*.md text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.neon text eol=lf
*.dist text eol=lf
.gitmodules text eol=lf

*.bat text eol=crlf
*.ps1 text eol=crlf

